.aboutUsContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.aboutUsContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.aboutUsContainer p {
  font-size: 16px;
  line-height: 1.6;
}
