.message {
  margin-bottom: 16px;
}

.button {
  margin-top: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.locklogo {
  font-size: 72px;
  margin-bottom: 16px;
}

.checkmark {
  font-size: 48px;
  margin-bottom: 16px;
}
