.appBar {
	background: transparent !important;
	backdrop-filter: blur(10px);
	padding: 7px 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.headerText {
	flex-grow: 1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 50px;
}

.headerLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.6rem;
	transition: color 0.3s ease-in-out;
}

.headerLink:hover {
	color: rgb(85, 241, 255);
}

.loginLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	border: none;
	padding: 7px 21px;
	margin-right: 29px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.loginLink:hover {
	background-color: rgba(255, 255, 255, 0.12);
}
