.appBar {
	background: black !important;
	backdrop-filter: blur(10px);
	padding: 5px 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.headerText {
	flex-grow: 1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 20px;
}

.headerLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.6rem;
	font-weight: bold;
}

.headerLink:hover {
	color: rgb(0, 42, 255);
}

.loginLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	border: none;
	padding: 7px 21px;
	border-radius: 5px;
}

.linksWrapper {
	display: flex;
}

.navLink {
	text-decoration: none;
	font-size: 1.2rem;
	padding: 7px 21px;
	border-radius: 5px;
}

.loginLink:hover, .navLink:hover {
	background-color: white;
	color: black !important;
}

.toggleNav {
	padding: 0 10px;
	display: none;
}

@media (max-width: 48em) {
	.loginLink:hover, .navLink:hover {
		background-color: black;
		color: white !important;
	}

	.linksWrapper {
		display: none;
	}

	.mobileLinksWrapper {
		background-color: black;
		width: 200px;
		position: absolute;
		top: 70px;
		right: 20px;
		display: flex;
		flex-direction: column;
		border-radius: 2px;
		padding: 10px 0;
	}

	.toggleNav {
		display: block;
	}
}
