@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.appBar {
	background: rgba(13, 20, 39, 0.5) !important;
	backdrop-filter: blur(10px);
	padding: 5px 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.headerText {
	flex-grow: 1;
	font-family: 'Pangolin', cursive;
	padding-left: 20px;
}

.headerLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.6rem;
	transition: color 0.3s ease-in-out;
}

.headerLink:hover {
	color: rgb(191, 132, 132);
}

.loginLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	border: none;
	padding: 7px 21px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.loginLink:hover {
	background-color: rgb(255, 255, 255);
}