.contact-us-container {
  max-width: 545px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #44bfdd;
  border-radius: 4px;
  background-color: #99b9c2;
  margin-bottom: 20px;
  font-size:large;
  text-align: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 14px;
  margin-left: 6px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 20px 20px;
  width: 200px;
  margin-left: 150px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.feedback{
  padding-top: 50px;
}

.rating{
  padding-top: 12px;
 align-content: center;
}

.white{
  margin-top: 100px;
  padding-top: 10px;
  background: #fff;
  width: 500px;
  height: 20px;
}