.root {
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.sectionContent {
	text-align: center;
	padding: 50px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

/* Styling for section headings */
.sectionHeading {
	color: #ffffff;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: 0 1px 7px rgba(0, 0, 0, 1);
	border-radius: 10px;
	box-shadow: none;
	padding-bottom: 50px;
}

/* Styling for section content */
.sectionText {
	color: #e0e0e0;
	font-size: 1.3rem;
}

/* Styling for the testimonial cards container */
.testimonialCardContainer {
	display: flex;
	justify-content: center; /* Center the testimonials horizontally */
	overflow-x: auto; /* Add horizontal scroll if needed */
	gap: 50px;
	padding: 100px 0px; /* Add some space at the bottom to prevent horizontal scroll */
}

.testimonialCard {
	width: 300px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	transition: transform 0.3s ease-in-out;
	background-color: #f0f0f0; /* Background color for the card */

	/* Horizontal alignment for screens wider than 600px */
}

/* Media query for screens smaller than 600px (vertical alignment) */
@media (max-width: 600px) {
	.testimonialCard {
		width: 250px;
		flex-direction: column; /* Stack cards vertically on mobile */
		align-items: center; /* Center content horizontally on mobile */
		text-align: center; /* Center text content */
	}
}

/* Hover effect for testimonial card */
.testimonialCard:hover {
	transform: translateY(-5px);
	background-color: #ffffff; /* Change background color on hover */
}

/* Styling for testimonial content */
.testimonialContent {
	color: #000;
	font-style: italic;
	font-size: 1rem;
	text-align: center;
	margin-top: 16px;
}

/* Styling for testimonial names */
.testimonialName {
	font-weight: bold;
	margin-top: 26px;
}
