.root {
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

section {
	height: auto;
	min-height: 90vh;
}

.sectionContent {
	text-align: center;
	padding: 50px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	overflow: auto;
}

/* Styling for section headings */
.sectionHeading {
	color: #ffffff;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: 0 1px 7px rgba(0, 0, 0, 1);
	border-radius: 10px;
	box-shadow: none;
	padding-bottom: 50px;
	letter-spacing: 1px;
}

/* Styling for section content */
.sectionText {
	color: #e0e0e0;
	font-size: 1.3rem;
}

/* Styling for the testimonial cards container */
.testimonialCardContainer {
	display: flex;
	justify-content: center;
	overflow-x: auto;
	gap: 50px;
	padding: 100px 0px;
}

.testimonialCard {
	width: 300px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	transition: transform 0.3s ease-in-out;
	background-color: #f0f0f0;
}

@media (max-width: 600px) {
	.testimonialCardContainer {
		flex-direction: column;
		align-items: center;
	}
}

/* Hover effect for testimonial card */
.testimonialCard:hover {
	transform: translateY(-5px);
	background-color: #ffffff; /* Change background color on hover */
}

/* Styling for testimonial content */
.testimonialContent {
	color: #000;
	font-style: italic;
	font-size: 1rem;
	text-align: center;
	margin-top: 16px;
}

/* Styling for testimonial names */
.testimonialName {
	font-weight: bold;
	margin-top: 26px;
}
