.bodyNoMarginPadding {
  margin: 0;
  padding: 0;
}

.html{
  scroll-behavior: inherit;
}

.appBar {
  background-color: rgba(35, 154, 160, 0.7);
}

.authPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/loginPage-bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.formContainer {
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  color: white;
  width: 400px;
}

.formHeader h6 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.formContainer form .input_sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.formContainer form .input_sec input {
  color: white;
}

.formContainer form .input_sec label {
  color: white;
  margin-bottom: 0;
}

.formContainer form .submitButton {
  margin-top: 20px;
  margin: auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #1976d2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.formContainer form .submitButton:hover {
  background-color: #1565c0;
}

.toggleButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.toggleButtonContainer button {
  padding: 5px 10px;
  border: none;
  background-color: rgba(77, 77, 77, 0.2);
  border-radius: 12px;
  color: #52abff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.toggleButtonContainer button:hover {
  color: #ffffff;
}

.forget {
  margin: auto;
}
.checkboxLabel {
  font-size: 12px; /* Adjust the font size as needed */
}