.appBar {
	background: black !important;
	backdrop-filter: blur(10px);
	padding: 5px 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0px !important;
}


.headerText {
	flex-grow: 1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 20px;
}

.headerLink {
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: bold;
}

.headerLink:hover {
	color: white !important;
	text-decoration: none !important;
	font-size: 1.7rem;
	transition: font-size 0.1s ease-in-out;
}

.loginLink {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	margin-inline: 11px;
	padding: 6px 10px;
}

.linksWrapper {
	display: flex;
	.active {
		transition: all 0.2s ease-in-out;
		border-bottom: 4px solid white;
	}
}

.navLink {
	text-decoration: none;
	font-size: 1.2rem;
	margin-inline: 11px;
	padding: 6px 10px;
}

.loginLink:hover, .navLink:hover {
	/* background-color: white;
	color: black !important; */
	transition: all 0.2s ease-in-out;
	border-bottom: 4px solid white;
	color: white !important;
	text-decoration: none !important;
}

.toggleNav {
	padding: 0 10px;
	display: none;
}

@media (max-width: 48em) {
	.loginLink:hover, .navLink:hover {
		background-color: black;
		color: white !important;
	}

	.linksWrapper {
		display: none;
	}

	.mobileLinksWrapper {
		background-color: black;
		width: 200px;
		position: absolute;
		top: 70px;
		right: 20px;
		display: flex;
		flex-direction: column;
		border-radius: 2px;
		padding: 10px 0;
	}

	.toggleNav {
		display: block;
	}
}
