.footer {
	background-color: #00031a;
	color: white;
	padding: 2rem 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialIconsContainer {
	margin-top: 1rem;
	border-top: 1px solid white;
	padding-top: 2;
	display: flex;
	align-items: center;
}

.socialIcons {
	font-size: 2rem;
	margin: 0 0.5rem;
	color: white;
	transition: color 0.3s ease-in-out;
}

.socialIcons:hover {
	color: #3498db;
}

.columnsContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	width: 100%;
}

.column {
	flex: 1;
	margin-right: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.columnTitle {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2rem;
}

.columnLink {
	display: block;
	color: white;
	text-decoration: none;
	margin-top: 1rem;
	font-size: 0.8rem;
	transition: color 0.3s ease-in-out;
}

.columnLink:hover {
	color: #3498db;
}

.smallText {
	font-size: 0.8rem;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	padding: 50px 0;
}

/* Add this media query at the end of your CSS file to adjust styles for mobile screens */
@media (max-width: 768px) {
	.columnsContainer {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.column {
		flex: none;
		margin: 8px 0;
	}

	.columnTitle {
		font-size: 1rem;
	}

	.columnLink {
		margin-top: 8px;
		font-size: 0.8rem;
	}

	.socialIconsContainer {
		margin-top: 16px;
	}

	.logo {
		padding: 16px 0;
		font-size: 1.5rem;
	}
}
