/* AddBook.css */
@keyframes gradientAnimation {
  0% {
    background-position: 5% 5%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.account-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(197, 223, 248);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.center-button {
  text-align: center;
  margin-top: 20px;
}

.center-button button {
  padding: 10px 20px;
  background-color: #4a55a2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.center-button button:hover {
  background-color: #7895cb;
}
