.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent !important;
  background-origin: content-box;
  background-position: 20px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
