/* AdminNavStyle.css */
/* General styling for header and dropdown */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 7px 20px;
}

.header button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header button:hover {
  color: lightblue;
}

.header-dropdown {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: px;
  display: none;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header:hover .header-dropdown {
  display: block;
}

.header-dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.header-dropdown a:hover {
  color: lightblue;
}

/* Styling for sidebar */
.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 5px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  overflow-y: auto;
  z-index: 10;
}

.sidebar.active {
  transform: translateX(0);
}

/* Styling for page links */
.page-links {
  margin-bottom: auto;
  margin-top: auto;
}

.page-links h3 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
}

.page-links ul {
  list-style: none;
  padding: 0;
}

.page-links li {
  margin-bottom: 12px;
}

.page-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.page-links a:hover {
  color: lightblue;
}
/* AdminNavStyle.css */

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px; /* Adjust spacing between list items */
}

.link {
  display: block;
  padding: 8px 0;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: lightblue;
}

.navigation-panel {
  padding: 0;
}
.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px; /* Remove the previous spacing */
}

.link {
  display: block;
  padding: 8px 0;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: lightblue;
}

.navigation-panel {
  padding: 0;
}
